.console {
    width: 100%;
    background-color: #252525;
    padding-top: 50px;

    &__hero {
        width: 100%;
        padding: 50px 0;
        display: flex;
        gap: 20px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #111;

        & p:first-child {
            font-size: 2.25rem;
            line-height: 2.25rem;
            font-weight: 200;
            color: #66b933;
            text-align: center;
        }

        & p:last-child {
            width: 60%;
            font-size: 1.125rem;
            line-height: 1.75rem;
            font-weight: 300;
            color: gray;
            text-align: center;

            @media screen and (max-width: 768px) {
                font-size: 0.9rem;
            }

            @media screen and (max-width: 375px) {
                width: 90%;
                line-height: 1rem;
            }
        }
    }

    &__new {
        width: 100%;
        padding: 50px 0;
        min-height: 800px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        justify-content: flex-start;
        background-image: url(https://assets2.razerzone.com/images/pnx.assets/4194777b74f8bf80078c6be1a4ea34e7/razer-wolverine-v2-pro-black-white-category-1920x700-desktop.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        & p:first-child {
            font-size: 3rem;
            color: white;
            font-weight: 300;
            text-shadow: 0px 0px 3px rgba(0, 0, 0, 1), 0px 0px 5px rgba(0, 0, 0, 1);


            @media screen and (max-width: 425px) {
                font-size: 1.75rem;
            }
        }

        & p:last-child {
            font-size: 1.3rem;
            color: #999;
            font-weight: 300;
            text-shadow: 0px 0px 3px rgba(0, 0, 0, 1), 0px 0px 5px rgba(0, 0, 0, 1);


            @media screen and (max-width: 425px) {
                font-size: 0.8rem;
            }
        }
    }

    &__vitrine {
        display: flex;
        flex-wrap: wrap;
        padding: 40px 20px 20px 20px;
        align-items: center;
        justify-content: center;
        gap: 20px;

        &__card {
            flex: 1 1 300px;
            max-width: 300px;
            background-color: #111;
            color: white;
            transition: all ease-in-out 0.3s;
            overflow: hidden;
            border-radius: 5px;

            &:hover {
                box-shadow: 0px 0px 9px 7px rgba(102, 185, 51, 0.52);
                -webkit-box-shadow: 0px 0px 9px 7px rgba(102, 185, 51, 0.52);
                -moz-box-shadow: 0px 0px 9px 7px rgba(102, 185, 51, 0.52);
            }

            &:hover &--top>img {
                transform: scale(1.1);
            }

            &:hover &--bottom p {
                color: #66b933;
            }

            &--top {
                width: 100%;
                background-color: #111;
                display: flex;
                align-items: center;
                justify-content: center;

                & img {
                    object-fit: cover;
                    width: 60%;
                    height: 200px;
                    transition: all ease-in-out 0.3s;
                }
            }

            &--bottom {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 10px;
            }

            &-name {
                width: 290px;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden; 
                font-size: 1.2rem;
                
                & p {
                    transition: all ease-in-out 0.3s;
                }
            }

            &-desc {
                width: 290px;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;  
                font-size: 0.875rem;
                min-height: 75px;
                color: gray;

                & p {
                    transition: all ease-in-out 0.3s;
                }
            }

            &-priceAdd {
                display: flex;
                justify-content: space-between;
                align-items: center;

                &-left {
                    display: flex;
                    flex-direction: column;

                    & p {
                        margin: 0;
                        font-weight: bold;
                        transition: all ease-in-out 0.3s;
                    }
                }

                &-right {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    & button {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 40px;
                        height: 40px;
                        background-color: #333;
                        color: white;
                        border: none;
                        border-radius: 3px;
                        transition: all ease-in-out 0.3s;

                        &:first-child {
                            margin-right: 10px;
                        }

                        &:hover {
                            background-color: #66b933;
                        }

                        &:hover .addToCardIco {
                            color: #111;
                        }
                    }
                }
            }
        }
    }

    &__limited {
        width: 100%;
        padding: 50px 0;
        margin-top: 10px;
        min-height: 800px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        justify-content: flex-start;
        background-image: url(https://assets2.razerzone.com/images/pnx.assets/874bdcaea660e93369e2c9210570a174/razer-xbox-controller-and-charging-stand-1920x700-desktop.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        & p:first-child {
            font-size: 3rem;
            color: white;
            font-weight: 300;
            text-shadow: 0px 0px 5px rgb(102, 185, 51), 0px 0px 10px rgb(102, 185, 51);


            @media screen and (max-width: 425px) {
                font-size: 1.75rem;
            }
        }

        & p:last-child {
            font-size: 1.3rem;
            color: #999;
            font-weight: 300;
            text-shadow: 0px 0px 3px rgba(0, 0, 0, 1), 0px 0px 5px rgba(0, 0, 0, 1);


            @media screen and (max-width: 425px) {
                font-size: 0.8rem;
            }
        }
    }

    &__sonic {
        width: 100%;
        padding: 50px 0;
        margin-top: 10px;
        min-height: 800px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        justify-content: flex-start;
        background-image: url(https://assets2.razerzone.com/images/pnx.assets/0e064526124df6127811074622ca706f/sonic-the-hedgehog-xbox-controller-and-charging-stand-1920x700-desktop.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        & p:first-child {
            font-size: 3rem;
            color: white;
            font-weight: 300;
            text-shadow: 0px 0px 5px rgba(0, 0, 0, 1), 0px 0px 10px rgba(0, 0, 0, 1);

            @media screen and (max-width: 768px) {
                font-size: 2rem;
            }
        }

        & p:last-child {
            font-size: 1.3rem;
            color: #999;
            font-weight: 300;
            text-shadow: 0px 0px 3px rgba(0, 0, 0, 1), 0px 0px 5px rgba(0, 0, 0, 1);


            @media screen and (max-width: 768px) {
                font-size: 1.2rem;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .console__new {
        min-height: 400px;
    }

    .console__limited {
        min-height: 400px;
    }

    .console__sonic {
        min-height: 400px;
    }

}

@media only screen and (max-width: 425px) {
    .console__new {
        min-height: 300px;
    }

    .console__limited {
        min-height: 300px;
    }

    .console__sonic {
        min-height: 300px;
    }
}