.home {
  width: 100%;

  &__new {
    &--item {
      width: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      padding: 25vh 5vw;
      min-height: 300px;
      color: white;
      border-bottom: 10px solid #343434;

      &--p {
        & p{
          text-align: center;
        text-shadow: 0px 0px 3px rgba(0, 0, 0, 1),0px 0px 5px rgba(0, 0, 0, 1);
        }
      }

      &--p1 {
        font-size: 2.5rem;
        font-weight: 600;
      }

      &--p2 {
        font-size: 1.25rem;
      }
    }
  }

  &__grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    gap: 10px;
    background-color: #343434;

    @media (max-width: 600px) {
      grid-template-columns: 1fr;
    }
    
    &--item {
      padding: 5vw;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      color: white;
      min-height: 550px;
      transition: all 0.2s ease-in-out;
  
      &--p {
        text-align: center;
        transition: all 0.2s ease-in-out;
      }

      &--p1 {
        font-size: 2rem;
        font-weight: 600;
      }

      &--p2 {
        font-size: 1rem;
      }

      &:hover .home__grid--item--p {
        color: #66b933;
        filter: drop-shadow(rgba(102, 185, 51, 1) 0px 0px 5px);
        text-shadow: 3px 3px 0px rgb(0, 0, 0),
          0.540302px 0.841471px 0px rgb(0, 0, 0),
          -0.416147px 0.909297px 0px rgb(0, 0, 0),
          -0.989992px 0.14112px 0px rgb(0, 0, 0),
          -0.653644px -0.756802px 0px rgb(0, 0, 0),
          0.283662px -0.958924px 0px rgb(0, 0, 0),
          0.96017px -0.279415px 0px rgb(0, 0, 0);
      }

      &:hover {
        box-shadow: 0px 0px 7px 6px rgba(102, 185, 51, 0.58) inset;
        -webkit-box-shadow: 0px 0px 7px 6px rgba(102, 185, 51, 0.58) inset;
        -moz-box-shadow: 0px 0px 7px 6px rgba(102, 185, 51, 0.58) inset;
      }
    }

    &--item1 {
      background-image: url(https://assets2.razerzone.com/images/pnx.assets/6fe109c3b2ac099fa5b247503bca4905/nbcf-june-b-950x580-desktop.jpg);
    }

    &--item2 {
      background-image: url(https://assets2.razerzone.com/images/pnx.assets/2fb5601db7a84213129e2f26d31f050f/razer-kitsune-b-950x580-desktop.jpg);
    }

    &--item3 {
      background-image: url(https://assets2.razerzone.com/images/pnx.assets/3474002077a69ea3690d1a798c669b13/razer-blade-15-2023-b-950x580-desktop.jpg);
    }

    &--item4 {
      background-image: url(https://assets2.razerzone.com/images/pnx.assets/84d0946021d11b959bda0545c4d4c234/enkipro-lamborghini-b-950x580-desktop.jpg);
    }

    &--item5 {
      background-image: url(https://assets2.razerzone.com/images/pnx.assets/dec1968e4414aa9dd00718ae5c3f531b/razer-edge-b-950x580-desktop.jpg);
    }

    &--item6 {
      background-image: url(https://assets2.razerzone.com/images/pnx.assets/2fb5601db7a84213129e2f26d31f050f/razerstore-reward-june-b-950x580-desktop.jpg);
    }
  }
}
